* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;

    .structure {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 350px;
      height: 400px;
      border: 1px solid lightgray;

      .instagram {
        height: 100px;

        .westaTitle {
          position: relative;
          top: 25px;
          width: 200px;
          text-align: center;
          font-size: 40px;
          font-family: "Lobster";
        }
      }

      .loginPage {
        width: 280px;

        .id {
          width: 280px;
          height: 40px;
          border: 1px solid lightgray;
          border-radius: 5px;
          box-shadow: none;
          color: gray;
          background-color: rgb(238, 236, 236);
        }

        .pw {
          width: 280px;
          height: 40px;
          margin-top: 10px;
          border: 1px solid lightgray;
          border-radius: 5px;
          box-shadow: none;
          color: gray;
          background-color: rgb(238, 236, 236);
        }

        .login {
          width: 200px;
          height: 40px;
          margin-top: 10px;
          font-size: 20px;

          .loginBtn {
            width: 140%;
            height: 30px;
            border-radius: 5px;
            border: 0;
            color: white;
            background-color: skyblue;

            Active {
              background-color: blue;
            }
          }
        }
      }

      .or {
        display: flex;

        .orLeft {
          width: 115px;
          border-top: 1px solid lightgray;
          margin-top: 25px;
          margin-right: 10px;
        }

        .orCenter {
          height: 30px;
          padding-top: 20px;
        }

        .orRight {
          width: 115px;
          margin-top: 25px;
          margin-left: 10px;
          border-top: 1px solid lightgray;
        }
      }

      .facebook {
        display: flex;
        height: 50px;

        .facebookImage {
          width: 50px;
          height: 20px;
          text-align: right;
          margin-top: 15px;
          padding-right: 5px;
        }

        .facebookLogin {
          padding-top: 18px;
          color: blue;
        }
      }

      .forget {
        font-size: 12px;
      }
    }

    .side {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 50px;
      margin: 20px auto;
      border: 1px solid lightgray;

      .sideIn {
        margin-left: 5px;
      }
    }

    .foot {
      text-align: center;
      width: 350px;
      height: 40px;
      border: 1px solid lightgray;

      .download {
        margin-top: 10px;
      }
    }
  }
}

.loginBtnActive {
  width: 140%;
  height: 30px;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: blue;
}
