* {
  box-sizing: border-box;

  body {
    display: flex;
    flex-direction: column;

    .navTop {
      position: fixed;
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 50px;
      padding-top: 10px;
      border-bottom: 1px solid lightgray;
      background-color: white;
      z-index: 2;

      .westa {
        display: flex;
        padding-top: 5px;

        .westaName {
          height: 20px;
          padding-left: 10px;
          border-left: 1px solid black;

          .westaTitle {
            padding-top: 5px;
          }
        }
      }

      .search {
        text-align: center;
        height: 20px;
        margin-top: 5px;
      }

      .images {
        display: flex;
        padding-top: 5px;

        .firstIcon,
        .secondIcon,
        .thirdIcon,
        .forthIcon {
          margin-right: 15px;
        }
      }

      .divImages {
        width: 20px;
      }
    }

    .main {
      position: absolute;
      top: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: rgb(250, 250, 250);

      .mainPage {
        display: flex;

        .westaFeeds {
          position: relative;
          display: flex;
          flex-direction: column;
          border: 1px solid lightgray;
        }

        .westaImages {
          display: flex;
          flex-direction: column;
          padding-bottom: 10px;
          border-bottom: 1px solid lightgray;
        }

        .westaNike {
          width: 640px;
          height: 700px;
        }

        .searchBottom {
          padding-left: 10px;
        }

        .westaIconImages {
          display: flex;
          justify-content: space-between;
          padding: 5px;
        }

        .westaIcons {
          display: flex;
        }

        .good {
          margin: 10px 0;
        }

        .adidas {
          margin: 10px 0;
        }

        .good,
        .adidas {
          font-size: 15px;
          font-weight: 500;
        }

        .minute {
          margin: 10px 0;
          color: lightgray;
        }

        ul {
          list-style: none;
        }

        .totalSearch {
          display: flex;
        }

        .smile {
          padding-top: 10px;
          margin-left: 20px;
        }

        .searchSecond {
          width: 550px;
          margin: 10px 0px 10px 10px;
        }

        .string {
          width: 100%;
          height: 40px;
          border: none;
        }

        .stringSecond {
          width: 40px;
          height: 100%;
          border: none;
          border-radius: 10px;
          background-color: white;
        }

        .westaMainRight {
          width: 400px;
        }
      }
    }
  }
}
