$border-box: 1px solid #dbdbdb ;
$color-main: rgba(250,250,250,1) ;

.borderBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-main;

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 380px;
  margin: auto;
  border: $border-box;
  background-color: white;
  text-align: center;
  
  .logo{
    background-color: white;
    font-family: 'Lobster', cursive;
    font-size: 40px;
  }
    
  input{
    width: 70%;
    margin: 4px;
    padding: 9px 0 7px 8px;
    background-color: $color-main;
    border: $border-box;
    border-radius: 4px;
    line-height: 18px;
    font-size: 12px;
  }
    
  button {
    width: 70%;
    margin: 8px 0px 60px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #0095f6;
    opacity: 0.5;
    line-height: 18px;
    cursor: pointer;
  }

  .activeBtn{
    opacity:1.0;
  }

  .checkPassword{
    color: #00376b;
    background-color: white;
    font-size: 12px;
  }
}
}