%flex-column {
    display: flex;
    flex-direction: column;
  }
  
  $theme-height: 30px;
  
  .Login{
      @extend %flex-column;
      border: 1px solid gray;
      width: 348px;
      height: 400px;
      justify-content: center;
      text-align: center;
      margin: 200px auto;
  
    .westagram{
      font-family: 'Lobster', cursive;
      font-size: 50px;
      margin-bottom: 70px;
    }
    
    .login_border{
      @extend %flex-column;
      margin: 0 40px;
  
      .login_txt {
        margin-bottom: 5px;
        line-height: $theme-height;
      }
      .login_pwd{
        margin-bottom: 10px;
        line-height: $theme-height;
      }
      button{
        margin-bottom: 70px;
        line-height: $theme-height;
        border: none;
        border-radius: 10px;
        color: white;
        
      }
      .loginBtnAble{
        background-color: #0095F6;
      }
      .loginBtnUnable{
        background-color: #C0DFFD;
      }
    }
    
    a{
      display: block;
      text-decoration: none;
    }
    *{
      box-sizing: border-box;
    }
  }