$back-color: #fafafa;
$line-color: #efefef;
* {
    box-sizing: border-box;

    .Main {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: $back-color;
    
        .navOutline {
            position: fixed;
            left: 0;
            width: 100%;
            border-bottom: 3px solid $line-color;
            background-color: white;
    
            .navBox {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                height: 54px;
                margin: 0 auto;
                margin-top: auto;
    
                .navLogo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 115px;
                    margin-left: 50px;
                    font-family: 'Lobster', cursive;
                    font-size: 1.2em;
                }
    
                input {
                    display: inline-block;
                    height: 1.8em;
                    border: 2px solid #efefef;
                    background-color: #fafafa;
                    &input::placeholder {
                        text-align: center;
                    }
                }
    
                .searchIcon {
                    height: 11px;
                    left: -50px
                }
    
                .navIcons {
                    display: flex;
                    justify-content: space-between;
                    width: 170px;
                    margin-right: 50px;
            
                    .icons {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        
        
        .bodyContent {
            display: flex;
            justify-content: space-between;
            width: 80%;
            height: 100%;
            margin: auto;
            padding: 30px;
            padding-left: 5%;
            padding-top: 54px;
    
            .article {
    
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 600px;
                height: 1200px;
    
                .story {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 550px;
                    height: 120px;
                    margin-top: 30px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border: 2px solid #efefef;
    
                    .storyImage {
                        width: 50px;
                        height: 50px;
                        border: 2px solid linear-gradient(#c53193, #f99c4a);
                        border-radius: 50%;
                    }
                }
    
                .post {
                    width: 552px;
                    height: 1400px;
                    margin-top: 20px;
                    border: 1px solid #efefef;
    
                    .postAccount {
                        display: flex;
                        align-items: center;
                        width: 550px;
                        height: 55px;
    
                        .postAccountInfo {
                            display: flex;
                            align-items: center;
                            width: 550px;
                            height: 35px;
                            padding-left: 15px;
                        }
    
                        .postAccountPicture {
                            height: 35px;
                            border-radius: 50%;
                        }
    
                        .postAccountName {
                            margin-left: 15px;
                            font-family: 'Noto Sans KR', sans-serif;
                            font-size: 15px;
                        }
                    }
    
                    .postImageBox {
                        width: 550px;
                        height: 550px;
    
                        .postImage {
                            width: 548px;
                            height: 548px;
                        }
                    }
    
                    .likeSaveIcons{
                        width: 550px;
                        height: 45px;
                        padding-left: 1px;
                        padding-right: 3px;
                        display: flex;
                        justify-content: space-between;
                        background-color: white;
                    
                        .postIcons {
                            width: 43px;
                            height: 43px;
                            background-color: white;
                        }
                    }
    
                    .commentBox {
                        width: 550px;
                        height: 400px;
                        background-color: white;

                        .commentFeed {
                            display: flex;
                            flex-direction: column;
                            padding-left: 15px;
                            background-color: white;

                            .postWriter {
                                height: 45px;
                                font-size: 15px;
                                background-color: white;
                
                                .postUsername {
                                    display: inline-block;
                                    margin-right: 20px;
                                    font-weight: bold;
                                }
                            }
                            
                            .actualComments {
                                height: 200px;
                                background-color: white;

                                .commentList {
                                    list-style: none;
                                    background-color: white;

                                    li {
                                        background-color: white;

                                        .commentUser {
                                            display: inline-block;
                                            margin-right: 20px;
                                            font-weight: bold;
                                            background-color: white;
                                        }

                                        .commentDesc{
                                            background-color: white;
                                        }
                                    }
                                }
                            }
                        }

                        .commentInputBox {
                            display: flex;
                            height: 45px;

                            .commentInput {
                                width: 460px;
                                border: none;
                                background-color: white;
                            }

                            .commentBtn {
                                border: none;
                                font-size: 15px;
                                color: #c5e1fa;
                                background-color: white;
                            }
                        }
                    }
                }
            }
            
            .mainRight {
                position: fixed;
                display: flex;
                flex-direction: column;
                width: 320px;
                height: 400px;
                top: 84px;
                right: 15%;
                padding-top: 10px;
                border: 2px solid $line-color;
                background-color: white;

                .profileDetail {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 15px;
                    padding-top: 5px;
                    background-color: white;

                    .rightAccountInfo {
                        display: flex;
                        align-items: center;
                        margin-left: 10px;
                        background-color: white;
                    }

                    .postAccountPicture {
                        display: inline-block;
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                    }

                    .profileButton {
                        margin-right: 15px;
                        border: none;
                        background-color: white;
                        color: #0080ff;
                    }
                }
            }
        } 
    }
    
}
