$back-color: #fafafa;
$line-color: #efefef;

.Main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $back-color;

    .navOutline {
        position: fixed;
        left: 0;
        width: 100%;
        height: 54px;
        border-bottom: 3px solid $line-color;
        background-color: white;

        .navBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            height: 54px;
            margin: 0 auto;

            .navLogo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 115px;
                margin-left: 50px;
                font-family: 'Lobster', cursive;
                font-size: 1.2em;
            }

            input {
                display: inline-block;
                height: 1.8em;
                border: 2px solid #efefef;
                background-color: #fafafa;
                &input::placeholder {
                    text-align: center;
                }
            }

            .searchIcon {
                height: 11px;
                left: -50px
            }

            .navIcons {
                display: flex;
                justify-content: space-between;
                width: 170px;
                margin-right: 50px;
        
                .icons {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    
    
    .bodyContent {
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 30px;
        padding-left: 5%;
        padding-top: 54px;

        .article {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 600px;
            height: 925px;

            .story {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 550px;
                height: 120px;
                margin-top: 30px;
                padding-left: 15px;
                padding-right: 15px;
                border: 2px solid #efefef;

                .storyImage {
                    width: 50px;
                    height: 50px;
                    border: 2px solid linear-gradient(#c53193, #f99c4a);
                    border-radius: 50%;
                }
            }

            .post {
                width: 550px;
                height: 1400px;
                margin-top: 20px;
                border: 1px solid white;

                .postAccount {
                    display: flex;
                    align-items: center;
                    width: 550px;
                    height: 55px;
                    border: 1px solid lightslategrey;

                    .postAccountInfo {
                        display: flex;
                        align-items: center;
                        width: 550px;
                        height: 35px;
                        padding-left: 15px;
                        border: 1px solid lightpink; 
                    }

                    .postAccountPicture {
                        height: 35px;
                        border-radius: 50%;
                    }

                    .postAccountName {
                        margin-left: 15px;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-size: 15px;
                    }
                }

                .postImageBox {
                    width: 550px;
                    height: 550px;
                    border: 1px solid indianred;

                    .postImage {
                        width: 548px;
                        height: 548px;
                    }
                }

                .likeSaveIcons{
                    width: 550px;
                    height: 45px;
                    padding-left: 1px;
                    padding-right: 3px;
                    display: flex;
                    justify-content: space-between;
                
                    .postIcons {
                        width: 43px;
                        height: 43px;
                    }
                }

                .commentBox {
                    width: 550px;
                    height: 130px;
                    border: 1px solid orange;

                    .displayComment {
                        padding-left: 15px;
                        text-decoration: none;

                        #postedComments {
                            text-decoration: none;
                        }
                    }


                    .writeComment {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        right: 20;
                        width: 550px;
                        height: 40px;
                        border-top: 1px solid black; //#efefef;

                        #commentInput {
                            width: 400px;
                            height: 35px;
                            border: none;
                        }

                        #commentBtn {
                            width: 60px;
                            height: 35px;
                            border: none;
                            color: #c5e1fa;
                        }
                    }
                }
            }
        }
        
        .mainRight {
            width: 320px;
            height: 400px;
            border: 2px solid orange;
            position: fixed;
            top: 84px;
            right: 15%;

            .suggestionBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .suggestionAccounts {
                    width: 318px;
                    height: 50px;
                    border: 1px solid black;
                }
            }
        }
    } 
}